@use '@styles/variables.scss';

.panel{
  box-shadow: rgba(17, 17, 26, 0.04) 0px 0px 15px;
  background: var(--ui-color-white);
  border-radius: variables.$ui-border-radius;
  padding: variables.$ui-padding-y variables.$ui-padding-x;
}