@use '@styles/variables.scss';

.panel{
  box-shadow: variables.$ui-box-shadow;
  background: var(--ui-color-secondary-light);
  border-radius: variables.$ui-border-radius;
  padding: variables.$ui-padding-y variables.$ui-padding-x;
}