@use '@styles/variables.scss';

.input{
  background-color: var(--ui-color-grey);
  padding: 10px;
  border-radius: 8px;
  color: var(--ui-color-dark-blue);
  &_size-m{}
  &_size-l{
    width: 100%;
  }
}
.input::placeholder{
  color: var(--ui-color-grey-1);
}