@use '@styles/mixins.scss';
@use '@styles/variables.scss';

.item {
  padding: variables.$global-vertical-padding variables.$global-horizontal-padding;
  cursor: pointer;
}

.text {
  color: var(--ui-color-light-blue);
}

.info {
  column-gap: variables.$global-gap;
}

.item, .info {
  @include mixins.flexible(flex-start, center, row);
}

.selected {
  border-left: 2px solid var(--ui-color-primary);
  background: rgba(245, 245, 245);
  color: var(--ui-color-primary);
}