@use '@styles/variables.scss';

.button {
  display: block;
  border-radius: variables.$ui-border-radius;
  padding: 10px 0;
  font-weight: 700;

  &_size-s {
    width: 55px;
  }

  &_size-m {
    width: 125px;
  }

  &_size-l {
    width: 100%;
  }

  &_primary_light {
    @extend %theme-light;
  }

  &_secondary_light {
    color: var(--ui-color-darkblue);
    border: 1px solid var(--ui-color-grey-0);
  }

  &_primary_dark {
  }

  &_secondary_dark {
  }
}