@use '@styles/variables.scss';

.button {
  display: block;
  border-radius: variables.$ui-border-radius;
  box-shadow: var(--ui-color-grey-0) 0 0 10px;
  padding: variables.$ui-padding-y-inline-component 0;
  font-size: 16px;
  font-weight: 700;

  &_size-s {
    width: 65px;
  }

  &_size-m {
    width: 125px;
  }

  &_size-l {
    width: 100%;
  }

  &_primary_light {
    @extend %theme-light;
  }

  &_secondary_light {
    color: var(--ui-color-darkblue);
  }

  &_primary_dark {
  }

  &_secondary_dark {
  }
}