@import 'normalize';

:root {
  --ui-color-white: #FFFFFF;
  --ui-color-blue: #1178F2;
  --ui-color-darkblue:#212F3C;
  --ui-color-grey-0: rgba(33, 47, 60, 0.1);
  --ui-color-grey-1:#F8F9FA;
  --ui-color-grey-2:#F5F5F5;
  --ui-color-grey-3:#F4F5F8;
  --ui-color-grey-4:#C4CCD6;
  --ui-color-grey-5:#A7B6C7;
  --ui-color-grey-6:#AEB6BF;
  --ui-color-grey-7:#85929E;
}

:root{
  --ui-color-primary-light: var(--ui-color-blue);
  --ui-color-primary-dark: 0;
  --ui-color-secondary-light: var(--ui-color-white);
  --ui-color-secondary-dark: 0;
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--ui-color-light-grey);
}

.container {
  max-width: 1440px;
  margin: auto;
}

.components > *{
  margin-bottom: 20px;
}