$ui-border-radius: 12px;
$ui-border-radius-s: 10px;

$ui-padding-y-inline-component: 12px;
$ui-padding-x-inline-component: 12px;

$ui-text-font-size: 14px;
$ui-title-font-size: 18px;

$ui-title-line-height: 1.2em;

$ui-font-weight-light: 400;
$ui-font-weight-regular: 700;
$ui-font-weight-bold: 900;


$ui-gap-x: 15px;
$ui-gap-y: 15px;

$ui-padding-x: 20px;
$ui-padding-y: 20px;

$ui-section-gap-x: 35px;
$ui-section-gap-y: 35px;

$ui-box-shadow: rgba(17, 17, 26, 0.04) 0px 0px 15px;

%theme-light {
	color: var(--ui-color-secondary-light);
	background: var(--ui-color-grey-7);
}

%theme-dark {
	color: var(--ui-color-secondary-dark);
	background: var(--ui-color-primary-dark);
}
