@use '@styles/mixins.scss';
@use '@styles/variables.scss';


.text{
    height: 1em;
    width: 100%;
}

.wrapper{
    width: 100%;
    @include mixins.flexible(flex-start, center, column);
    row-gap: 5px;
}