@use '@styles/mixins.scss';
@use '@styles/variables.scss';

.label {
  @include mixins.flexible(flex-start, center, row);
}

.wrapper {
  margin: auto;
  .username {
    font-weight: 400;
    color: var(--ui-color-light-blue);
  }
}
