@use '@styles/mixins.scss';
@use '@styles/variables.scss';

.search{
  @include mixins.flexible(flex-start, center, row);
  border-radius: 8px;
  background: var(--ui-color-grey);
  padding: 0 15px;
}