@use '@styles/variables.scss';
@use '@styles/mixins.scss';

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include mixins.flexible(center, center, column);
  row-gap: variables.$ui-gap-y;
}