$icon-size: 16px;
$input-height: 40px;
$input-pr: 50px;

.wrapper {
	position: relative;
}

.input {
	padding-right: $input-pr;
}

.icon {
	cursor: pointer;
	position: absolute;
	top: calc(($input-height - $icon-size) / 2);
	right: calc(($input-pr - $icon-size) / 2);
}
