@use '@styles/variables.scss';

.avatar{
  border-radius: variables.$ui-border-radius;
  background: url('../../assets/image.jpg') no-repeat center/cover;
  &_size-s{
    width: 45px;
    height: 45px;
  }
  &_size-m{
    width: 65px;
    height: 65px;
  }
  &_size-l{
    width: 211px;
    height: 247px;
  }
}