@use '@styles/mixins.scss';
@use '@styles/variables.scss';

.label {
  @include mixins.flexible(flex-start, center, row);
  column-gap: variables.$ui-gap-x;

  & > span{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: variables.$ui-title-line-height;
    color: var(--ui-color-darkblue);
  }
}

.username{
  color: var(--ui-color-grey-7);
  font-weight: variables.$ui-font-weight-light;
}

