@use '@styles/mixins.scss';
@use '@styles/variables.scss';

.info{
    @include mixins.flexible(flex-start, center, column);
    flex-grow: 1;
}

.name{
    font-size: variables.$ui-title-font-size;
    color: var(--ui-color-darkblue);
}