@use '@styles/mixins.scss';
@use '@styles/variables.scss';

.info{
    @include mixins.flexible(flex-start, center, column);
    flex-grow: 1;
    padding: 0 variables.$ui-padding-x;
}

.info, .badges{
    row-gap: 5px;
}

.badges{
    @include mixins.flexible(space-between, center, row);
    flex-wrap: wrap;
}

.name{
    font-size: variables.$ui-title-font-size;
    color: var(--ui-color-darkblue);
}