@use '@styles/mixins.scss';
@use '@styles/variables.scss';

.section{
  @include mixins.flexible(flex-start, stretch, column);
  row-gap: variables.$ui-section-gap-y;
}

.middle{
  flex-grow: 1;
}

.left{}
.right{
  flex-basis: 260px;
}